body {
    background-color: #648bff;
    color: white;
}

section {
    background-color:#ffffff;
    color: black;
    width: 100%;
    height: 220px;
    margin-top: 4%;
   
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    vertical-align: middle;
}

div {
    background-color: transparent;
    height: 9vw;
    width: 9vw;
    text-align: center;
    line-height: 100px;
    margin-top: 2vw;
    margin-left: 3%;
    color: white;
    font-size: 4em;
    
}

#indizio{
    background-color: rgb(137, 241, 255);
    color: black;
    font-size: 1em;
    width: 30vw;
    height: 8vw;
}

input{
    height: 30px;
    margin-top: 4vw;
}
button{
    height: 36px;
    margin-top: 4vw;
}