body{
    background-color: black;
}

#s1{
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 90vh;
}

#d1,#d2{
    background-color: orange;
    width: 40vw;
    color: bisque;
    height: 40vw;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
}